.input_block{
    margin-bottom: 25px;
    width: 100%;
}

.label{
    display: block;
    margin-bottom: 5px;
}

.input{
    transition: 0.2s;
    all: unset;
    box-sizing: border-box;
    padding: 5px 15px;
    height: 35px;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #dadada;
}