.wrap{
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border: 1px solid #dadada;
    border-radius: 10px;
}

.mes{
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.date{
    display: block;

}